.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-right: .7rem;
    margin-top: .7rem;
}
/* .social-icons a{
    margin: 0 1rem;
    size: 5rem;
} */